$btn-padding-x:5%;
$btn-padding-y:.7%;
$btn-border-radius: 50px 50px 50px 50px   ;
$primary: #F6EE7D;
$secondary: #F6EE7D;
$third:rgba(238, 55, 55, 0.966);
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/popover";
@import 'node_modules/bootstrap/scss/variables'; // colors, fonts etc...

@import 'node_modules/bootstrap/scss/mixins'; // custom mixins



*{ box-sizing: border-box; }
.wrapper{  margin: 0 auto;  max-width: 80%;}
html { overflow: scroll; overflow-x: hidden;font-size: 14px; }
body{font-family: 'Ubuntu', sans-serif;}
::-webkit-scrollbar { width: 0px;  /* remove scrollbar space */ background: transparent;  /* optional: just make scrollbar invisible */}
::selection {background: #ffb7b7; /* WebKit/Blink Browsers */}
::-moz-selection {background: #ffb7b7; /* Gecko Browsers */}
img{max-width: 100%;}
.bg {width: 100%;height: 100%; position: absolute;top: 0;left: 0;z-index: -1; background: url('https://images.wallpaperscraft.com/image/fern_leaf_plant_green_119970_3840x2160.jpg ') no-repeat center center; background-size: cover; transform: scale(1.1);}
#section0 { position:fixed;color:white; max-width: 12%; margin-left: 68%; margin-top:-5%;padding: 20px; background:rgba(74, 79, 106, 0.234);border-radius: 10px 10px 10px 10px; float:right;}
#section0 img{margin-bottom: 5%;size:80%;}
#section1{margin-bottom: 10%; margin-top: 8%; }
#section1 img{display: block; margin-left: auto;margin-right: auto; }
#section1 button{display: block; margin-left: auto;margin-right: auto; margin-top: -5%;position:relative;font-size: 1.5rem;}
#section2{margin-top: 3.5%;}
#section3{margin-top: 4%;}
#section3 img{margin-bottom: 5%;}
#section3 .gif{position: relative; margin-left:auto;margin-right: auto;   }
#section3 .col{position: relative; margin-left:auto;margin-right: auto;margin-top: 14%;}
#quote{background:rgb(165, 246, 125);margin-top: 5.5%; height: 250px;}
#quote p{ margin-top:auto;margin-left: auto;margin-right: auto; color: white; text-align: center; font-family: 'Josefin Sans', sans-serif;}
#quote p.qt{padding-top: 7%;font-size:1.8em;}
#quote p.name{color: rgb(255, 255, 255); font-family: 'Quicksand', sans-serif; font-size: 1em; }
#section4 {margin-top: 5%; background: rgb(240, 240, 240);}
#section5{position: relative; margin-top:10%;margin-right: auto;}
#section5 button{position: relative; margin-top:20%;margin-right: auto;}
#section6 button{display: block; margin-left: auto;margin-right: auto; margin-top: 15%;position:relative;font-size: 1.5rem;}



.hideme{opacity:0;}
h4.text{ font-family: 'Ubuntu', sans-serif;}

.products {

  border-radius: 3px;
    float: left;
  padding: 20px;
  
  max-width: 32%;
}
.table {
margin: 0 auto; width: 970px; max-width: 100%;

}
.row {
margin: 0px auto;
float: none;
}
.centered{
float: none;
margin: 0 auto;
}
.button {
background: $primary;
color:white;
text-align: center;
padding: 12px;
text-decoration: none;
display: block;
border-radius: 3px;
font-size: 16px;
margin: 25px 0 15px 0;
}
.button:visited {
  text-decoration: none;
  color: white;
}
.button:hover {
background: #d3e62f;
text-decoration: none;
color: white;
}
.button:active {
text-decoration: none;
color: white;
}
.btn-danger {
  font-size: 12px;
  padding: 3px;
}
.btn-danger:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h3 {
  margin-top: 0px;
}




form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
 
 input, textarea {
    border:0; outline:0;
    padding: 1em;
    @include border-radius(8px);
    display: block;
    background:rgb(233, 233, 233);
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
    resize: none;
   
   &:focus {
      @include box-shadow(0 0px 2px rgba($primary, 1)!important);
   }
 }
 
 #input-submit {
    color: white; 
    background: $primary;
    cursor: pointer;
   
   &:hover {
      @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
   }
 }
 
 textarea {
     height: 126px;
     background:rgb(223, 223, 223);
 }
}


.half {
 float: left;
 width: 48%;
 margin-bottom: 1em;
}

.right { width: 50%; }

.left {
    margin-right: 2%; 
}


@media (max-width: 480px) {
 .half {
    width: 100%; 
    float: none;
    margin-bottom: 0; 
 }
}


/* Clearfix */
.cf:before,
.cf:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.cf:after {
   clear: both;
}











/* -------------------------------- 

FOOTER

-------------------------------- */
.footer #button{
	width:150px;
	height:5px;
	border: rgba(201, 57, 57, 0.8) 5px solid; 
	border-radius:20px;
  margin:0 auto;
  margin-top: 1%;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
  background: rgba(201, 57, 57, 0.8);

}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 17px;
	font-weight: 100;
	margin-top:70px;
    margin-left:40px;
    color: white
}






















/* -------------------------------- 

NAVIGATION

-------------------------------- */

  
  /* -------------------------------- 
  
  Navigation trigger - visible on small devices only
  
  -------------------------------- */
  .cd-nav-trigger {
    display: block;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(234, 242, 227, 0.9);
    /* reset button style */
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    outline: none;
  }
  .cd-nav-trigger span {
    /* central dot */
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* bottom and top dots */
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #c0102d;
    border-radius: inherit;
  }
  .cd-nav-trigger span::before {
    top: -9px;
  }
  .cd-nav-trigger span::after {
    bottom: -9px;
  }
  @media only screen and (min-width: 800px) {
    .cd-nav-trigger {
      display: none;
    }
  }
  
  /* -------------------------------- 
  
  Vertical navigation
  
  -------------------------------- */
  .cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: auto;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-radius: 0.25em;
    background-color: rgba(149, 148, 220, 0.8);
  }
  .cd-vertical-nav a {
    display: block;
    padding: 1em;
    color: #c2d5ff;
    font-weight: bold;
    border-bottom: 1px solid rgba(58, 44, 65, 0.1);
  }
  .cd-vertical-nav a.active {
    color: #a6d4ff7c;
  }
  .cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-overflow-scrolling: touch;
  }
  .cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent;
  }
  .cd-vertical-nav.open + .cd-nav-trigger span {
    background-color: rgba(58, 44, 65, 0);
  }
  .cd-vertical-nav.open + .cd-nav-trigger span::before, .cd-vertical-nav.open + .cd-nav-trigger span::after {
    /* transform dots in 'X' icon */
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
  }
  .cd-vertical-nav.open + .cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
  }
  .cd-vertical-nav.open + .cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
  }
  @media only screen and (min-width: 800px) {
    .cd-vertical-nav {
      /* reset style */
      right: 0;
      top: 0;
      bottom: auto;
      height: 100vh;
      width: 90px;
      max-width: none;
      max-height: none;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      background-color: transparent;
      /* vertically align its content*/
      display: table;
    }
    .cd-vertical-nav::before {
      /* this is the navigation background */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(9, 12, 33);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      transition: transform 0.4s;
    }
    .no-touch .cd-vertical-nav:hover::before, .touch .cd-vertical-nav::before {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
    .cd-vertical-nav ul {
      /* vertically align <ul> inside <nav>*/
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .cd-vertical-nav a {
      position: relative;
      padding: 3em 0 0;
      margin: 1.4em auto;
      border-bottom: none;
      text-decoration: none;
      font-size: 1.2rem;
      color: white;
    }
    .cd-vertical-nav a.active {
      color: #eaf2e3;
    }
    .cd-vertical-nav a::before, .cd-vertical-nav a::after {
      /* used to create the filled circle and the background icon */
      content: '';
      position: absolute;
      left: 50%;
      /* Force Hardware Acceleration */
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    }
    .cd-vertical-nav a::before {
      /* filled circle */
      top: 0;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background:#828181;
      -webkit-transform: translateX(-50%) scale(0.25);
      -moz-transform: translateX(-50%) scale(0.25);
      -ms-transform: translateX(-50%) scale(0.25);
      -o-transform: translateX(-50%) scale(0.25);
      transform: translateX(-50%) scale(0.25);
      -webkit-transition: -webkit-transform 0.4s, background-color 0.2s;
      -moz-transition: -moz-transform 0.4s, background-color 0.2s;
      transition: transform 0.4s, background-color 0.2s;
    }
    .cd-vertical-nav a::after {
      /* icon */
      opacity: 0;
      top: 8px;
      height: 16px;
      width: 16px;
      
      background: url(../img/cd-nav-icons.svg) no-repeat;
      -webkit-transform: translateX(-50%) scale(0);
      -moz-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
      -o-transform: translateX(-50%) scale(0);
      transform: translateX(-50%) scale(0);
      -webkit-transition: -webkit-transform 0.4s 0s, opacity 0.1s 0.3s;
      -moz-transition: -moz-transform 0.4s 0s, opacity 0.1s 0.3s;
      transition: transform 0.4s 0s, opacity 0.1s 0.3s;
    }
    .cd-vertical-nav a.active::before, .no-touch .cd-vertical-nav a:hover::before {
      background-color: white;
    }
    .cd-vertical-nav li:first-of-type a::after {
      /* change icon using image sprites */
      background-position: 0px -48px;
      /* fix bug with transitions - set scale(0.01) rather than scale(0) */
      -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.01);
      -moz-transform: translateX(-50%) translateY(4.5em) scale(0.01);
      -ms-transform: translateX(-50%) translateY(4.5em) scale(0.01);
      -o-transform: translateX(-50%) translateY(4.5em) scale(0.01);
      transform: translateX(-50%) translateY(4.5em) scale(0.01);
    }
    .cd-vertical-nav li:first-of-type a::before {
      -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.25);
      -moz-transform: translateX(-50%) translateY(4.5em) scale(0.25);
      -ms-transform: translateX(-50%) translateY(4.5em) scale(0.25);
      -o-transform: translateX(-50%) translateY(4.5em) scale(0.25);
      transform: translateX(-50%) translateY(4.5em) scale(0.25);
    }
    .cd-vertical-nav li:nth-of-type(2) a::after {
      background-position: 0px -32px;
      -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.01);
      -moz-transform: translateX(-50%) translateY(1.5em) scale(0.01);
      -ms-transform: translateX(-50%) translateY(1.5em) scale(0.01);
      -o-transform: translateX(-50%) translateY(1.5em) scale(0.01);
      transform: translateX(-50%) translateY(1.5em) scale(0.01);
    }
    .cd-vertical-nav li:nth-of-type(2) a::before {
      -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.25);
      -moz-transform: translateX(-50%) translateY(1.5em) scale(0.25);
      -ms-transform: translateX(-50%) translateY(1.5em) scale(0.25);
      -o-transform: translateX(-50%) translateY(1.5em) scale(0.25);
      transform: translateX(-50%) translateY(1.5em) scale(0.25);
    }
    .cd-vertical-nav li:nth-of-type(3) a::after {
      background-position: 0px -16px;
      -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
      -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
      -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
      -o-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
      transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    }
    .cd-vertical-nav li:nth-of-type(3) a::before {
      -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
      -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
      -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
      -o-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
      transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    }
    .cd-vertical-nav li:nth-of-type(4) a::after {
      background-position: 0px 0px;
      -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
      -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
      -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
      -o-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
      transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    }
    .cd-vertical-nav li:nth-of-type(4) a::before {
      -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
      -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
      -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
      -o-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
      transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    }
    .cd-vertical-nav .label {
      display: block;
      /* Force Hardware Acceleration */
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      transition: transform 0.4s;
    }
    .no-touch .cd-vertical-nav:hover a::before, .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav li:nth-of-type(n) a::before, .touch .cd-vertical-nav li:nth-of-type(n) a::after {
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      -o-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
      -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
    }
    .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav a::after {
      opacity: 1;
      -webkit-transition: -webkit-transform 0.4s, opacity 0s;
      -moz-transition: -moz-transform 0.4s, opacity 0s;
      transition: transform 0.4s, opacity 0s;
    }
    .no-touch .cd-vertical-nav:hover .label, .touch .cd-vertical-nav .label {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  

  @media only screen and (min-width: 800px) {
    .cd-section h1, .cd-section h2 {
      font-size: 3rem;
    }
    .cd-section p {
      font-size: 2rem;
    }
  }
  
  .cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 24px;
    height: 24px;
    background: url(../img/cd-arrow-bottom.svg) no-repeat center center;
  }
  
  /* -------------------------------- 
  
  no-js
  
  -------------------------------- */
  .no-js .cd-nav-trigger {
    display: none;
  }
  
  .no-js .cd-vertical-nav {
    position: static;
    height: auto;
    width: 100%;
    max-width: none;
    background-color: rgba(11, 48, 117, 0.8);
    border-radius: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .no-js .cd-vertical-nav::before {
    display: none;
  }
  .no-js .cd-vertical-nav ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .no-js .cd-vertical-nav li {
    display: inline-block;
   
  }
  .no-js .cd-vertical-nav a {
    padding: 0 1em;
    margin: 1.5em 1em;
    color: #a0e7f3;
  }
  .no-js .cd-vertical-nav a.active {
    color: black;
  }
  .no-js .cd-vertical-nav a::after, .no-js .cd-vertical-nav a::before {
    display: none;
  }
  .no-js .cd-vertical-nav .label {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  


//login css

* {
  margin: 0px;
  padding: 0px;
}

.inlog {
  background: white;
  width: 30%;
  margin: 0px auto;
  padding: 3%;
  margin-top: 7%;
      border-radius: 10px 10px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
  border-radius:8px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  border:0; outline:0;
  padding: 1em;
  border-radius:8px;
  display: block;
  background:rgb(242, 242, 242);
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  
  
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.bg {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;

  left: 0;
  z-index: -1;
  
  background: url('https://images.wallpaperscraft.com/image/fern_leaf_plant_green_119970_3840x2160.jpg ') no-repeat center center;
  background-size: cover;

  transform: scale(1.1);
}

